[submodule "ROS/CAMERA/ros_ws/src/gscam"]
	path = ROS/CAMERA/ros_ws/src/gscam
	url = https://github.com/code-name-57/gscam.git
[submodule "ROS/CALIBRATION/ros_ws/src/image_pipeline"]
	path = ROS/CALIBRATION/ros_ws/src/image_pipeline
	url = git@github.com:code-name-57/image_pipeline.git
